<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>1 тур (01.10 - 11.10)</strong>
    </caption>
    <tbody>
      <tr>
        <td>J - DoctorSinus</td><td class="result"><a href="http://lichess.org/hbozAlek">1-0</a></td>
      </tr>
      <tr>
        <td>MyTrooName - trex6</td><td class="result"></td>
      </tr>
      <tr>
        <td>Genuine - aptyp</td><td class="result"><a href="http://lichess.org/x4Y4smDc">0-1</a></td>
      </tr>
      <tr>
        <td>Nokman - Nedis</td><td class="result"><a href="http://lichess.org/5s6dvtY2">0-1</a></td>
      </tr>
      <tr>
        <td>redgremlin - DeadEye</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>2 тур (01.10 - 11.10)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - DeadEye</td><td class="result"><a href="http://lichess.org/4VE0qcu9">0-1</a></td>
      </tr>
      <tr>
        <td>Nedis - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - Nokman</td><td class="result"><a href="http://lichess.org/KEl0VGhq">1-0</a></td>
      </tr>
      <tr>
        <td>trex6 - Genuine</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - MyTrooName</td><td class="result"><a href="http://lichess.org/PoZW0YTt">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>3 тур (10.10 - 18.10)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - DoctorSinus</td><td class="result"><a href="http://lichess.org/aNHAcsVv">1-0</a></td>
      </tr>
      <tr>
        <td>Genuine - J</td><td class="result"><a href="http://lichess.org/FpE89q0Z">1-0</a></td>
      </tr>
      <tr>
        <td>Nokman - trex6</td><td class="result"></td>
      </tr>
      <tr>
        <td>redgremlin - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>DeadEye - Nedis</td><td class="result"><a href="http://lichess.org/y7RXjjsV">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>4 тур (10.10 - 18.10)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - Nedis</td><td class="result"><a href="http://lichess.org/KljwLSp2">0-1</a></td>
      </tr>
      <tr>
        <td>aptyp - DeadEye</td><td class="result"><a href="http://lichess.org/I0wuNier">1-0</a></td>
      </tr>
      <tr>
        <td>trex6 - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - Nokman</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - Genuine</td><td class="result"><a href="http://lichess.org/juP70h9A">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>5 тур (17.10 - 25.10)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Genuine - DoctorSinus</td><td class="result"><a href="http://lichess.org/eIIFQvur">1-0</a></td>
      </tr>
      <tr>
        <td>Nokman - MyTrooName</td><td class="result"><a href="http://lichess.org/Y0GQUhcA">1-0</a></td>
      </tr>
      <tr>
        <td>redgremlin - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>DeadEye - trex6</td><td class="result"></td>
      </tr>
      <tr>
        <td>Nedis - aptyp</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>6 тур (17.10 - 25.10)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - aptyp</td><td class="result"><a href="http://lichess.org/DdjOQIxX">0-1</a></td>
      </tr>
      <tr>
        <td>trex6 - Nedis</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - DeadEye</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>Genuine - Nokman</td><td class="result"><a href="http://lichess.org/u1GizYUd">½-½</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>7 тур (24.10 - 01.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Nokman - DoctorSinus</td><td class="result"><a href="http://lichess.org/xOVlAJRq">1-0</a></td>
      </tr>
      <tr>
        <td>redgremlin - Genuine</td><td class="result"></td>
      </tr>
      <tr>
        <td>DeadEye - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>Nedis - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - trex6</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>8 тур (24.10 - 01.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - trex6</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - aptyp</td><td class="result"><a href="http://lichess.org/AAgTFJgo">0-1</a></td>
      </tr>
      <tr>
        <td>MyTrooName - Nedis</td><td class="result"></td>
      </tr>
      <tr>
        <td>Genuine - DeadEye</td><td class="result"><a href="http://lichess.org/KGhCArsH">1-0</a></td>
      </tr>
      <tr>
        <td>Nokman - redgremlin</td><td class="result"><a href="http://lichess.org/fAm6N1dk">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>9 тур (31.10 - 08.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>DeadEye - Nokman</td><td class="result"><a href="http://lichess.org/AN1r4AxT">0-1</a></td>
      </tr>
      <tr>
        <td>Nedis - Genuine</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - MyTrooName</td><td class="result"><a href="http://lichess.org/D6mNWpqx">1-0</a></td>
      </tr>
      <tr>
        <td>trex6 - J</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>10 тур (31.10 - 08.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>trex6 - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - Genuine</td><td class="result"><a href="http://lichess.org/meaFjNhl">1-0</a></td>
      </tr>
      <tr>
        <td>Nedis - Nokman</td><td class="result"></td>
      </tr>
      <tr>
        <td>DeadEye - redgremlin</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>11 тур (07.11 - 15.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DeadEye - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>redgremlin - Nedis</td><td class="result"></td>
      </tr>
      <tr>
        <td>Nokman - aptyp</td><td class="result"><a href="http://lichess.org/0xpw97jS">1-0</a></td>
      </tr>
      <tr>
        <td>Genuine - trex6</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - J</td><td class="result"><a href="http://lichess.org/9aG2VjKb">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>12 тур (07.11 - 15.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - Genuine</td><td class="result"><a href="http://lichess.org/yCxDYklN">1-0</a></td>
      </tr>
      <tr>
        <td>trex6 - Nokman</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>Nedis - DeadEye</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>13 тур (14.11 - 22.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Nedis - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>DeadEye - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>redgremlin - trex6</td><td class="result"></td>
      </tr>
      <tr>
        <td>Nokman - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>Genuine - MyTrooName</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>14 тур (14.11 - 22.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - Genuine</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - Nokman</td><td class="result"><a href="http://lichess.org/CajTZbYE">0-1</a></td>
      </tr>
      <tr>
        <td>J - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>trex6 - DeadEye</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - Nedis</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>15 тур (21.11 - 29.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>aptyp - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>Nedis - trex6</td><td class="result"></td>
      </tr>
      <tr>
        <td>DeadEye - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>redgremlin - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>Nokman - Genuine</td><td class="result"><a href="http://lichess.org/em4AC5nA">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>16 тур (21.11 - 29.11)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - Nokman</td><td class="result"></td>
      </tr>
      <tr>
        <td>Genuine - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - DeadEye</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - Nedis</td><td class="result"></td>
      </tr>
      <tr>
        <td>trex6 - aptyp</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>17 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>trex6 - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>Nedis - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>DeadEye - Genuine</td><td class="result"><a href="http://lichess.org/buGKnXJK">0-1</a></td>
      </tr>
      <tr>
        <td>redgremlin - Nokman</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>18 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>Nokman - DeadEye</td><td class="result"></td>
      </tr>
      <tr>
        <td>Genuine - Nedis</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - trex6</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

