<table class="table tournament tablesorter">
  <caption>Таблица результатов</caption>
  <thead>
    <tr>
      <th class="player">№</th>
      <th class="name">Участник</th>
      <th class="elo">elo*</th>
      <th class="result" colspan="2">1</th>
      <th class="result" colspan="2">2</th>
      <th class="result" colspan="2">3</th>
      <th class="result" colspan="2">4</th>
      <th class="result" colspan="2">5</th>
      <th class="result" colspan="2">6</th>
      <th class="result" colspan="2">7</th>
      <th class="result" colspan="2">8</th>
      <th class="games">Игры</th>
      <th class="points">Очки</th>
      <th class="berger">Бергер</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="22">* Средний elo на начало турнира</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td class="player">1</td>
      <td class="name">MyTrooName</td>
      <td class="elo">1529</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">1</td>
      <td class="result">1</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">1</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">1</td>
      <td class="result">1</td>
      <td class="games">5</td>
      <td class="points">5</td>
      <td class="berger">5</td>
    </tr>
    <tr>
      <td class="player">2</td>
      <td class="name">redgremlin</td>
      <td class="elo">1791</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="result">1</td>
      <td class="result"></td>
      <td class="result">1</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">1</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="games">3</td>
      <td class="points">3</td>
      <td class="berger">3</td>
    </tr>
    <tr>
      <td class="player">3</td>
      <td class="name">cetjs2</td>
      <td class="elo">1357</td>
      <td class="result">0</td>
      <td class="result">0</td>
      <td class="result">0</td>
      <td class="result"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="result">0</td>
      <td class="result"></td>
      <td class="result">0</td>
      <td class="result"></td>
      <td class="result">1</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">1</td>
      <td class="result"></td>
      <td class="games">7</td>
      <td class="points">2</td>
      <td class="berger">0</td>
    </tr>
    <tr>
      <td class="player">4</td>
      <td class="name">J</td>
      <td class="elo">1464</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">0</td>
      <td class="result"></td>
      <td class="result">1</td>
      <td class="result"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="games">2</td>
      <td class="points">1</td>
      <td class="berger">2</td>
    </tr>
    <tr>
      <td class="player">5</td>
      <td class="name">aptyp</td>
      <td class="elo">1691</td>
      <td class="result">0</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">1</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="games">2</td>
      <td class="points">1</td>
      <td class="berger">2</td>
    </tr>
    <tr>
      <td class="player">6</td>
      <td class="name">LongLiveUbuntu</td>
      <td class="elo">1500</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">0</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="games">1</td>
      <td class="points">0</td>
      <td class="berger">0</td>
    </tr>
    <tr>
      <td class="player">7</td>
      <td class="name">HunOL</td>
      <td class="elo">1642</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">0</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="games">1</td>
      <td class="points">0</td>
      <td class="berger">0</td>
    </tr>
    <tr>
      <td class="player">8</td>
      <td class="name">DoctorSinus</td>
      <td class="elo">1311</td>
      <td class="result">0</td>
      <td class="result">0</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result">0</td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="result"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="games">3</td>
      <td class="points">0</td>
      <td class="berger">0</td>
    </tr>
  </tbody>
</table>
