<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>1 тур (13.05 - 19.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>J - redgremlin</td><td class="result"><a href="https://lichess.org/Ge2ySn5w">0-1</a></td>
      </tr>
      <tr>
        <td>LongLiveUbuntu - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>cetjs2 - DoctorSinus</td><td class="result"><a href="https://lichess.org/7xuYN4Qu">1-0</a></td>
      </tr>
      <tr>
        <td>MyTrooName - HunOL</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>2 тур (13.05 - 19.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - HunOL</td><td class="result"><a href="https://lichess.org/rozKed0r">1-0</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - MyTrooName</td><td class="result"><a href="https://lichess.org/yt1ruYBZ">0-1</a></td>
      </tr>
      <tr>
        <td>aptyp - cetjs2</td><td class="result"><a href="https://lichess.org/pMztkQ7K">1-0</a></td>
      </tr>
      <tr>
        <td>J - LongLiveUbuntu</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>3 тур (13.05 - 19.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>LongLiveUbuntu - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>cetjs2 - J</td><td class="result"><a href="https://lichess.org/12LkssTj">0-1</a></td>
      </tr>
      <tr>
        <td>MyTrooName - aptyp</td><td class="result"><a href="https://lichess.org/eQFeN7k5">1-0</a></td>
      </tr>
      <tr>
        <td>HunOL - DoctorSinus</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>4 тур (20.05 - 25.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - MyTrooName</td><td class="result"><a href="https://lichess.org/XVKzByAS">0-1</a></td>
      </tr>
      <tr>
        <td>LongLiveUbuntu - cetjs2</td><td class="result"><a href="https://lichess.org/oOpQ4845">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>5 тур (20.05 - 25.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>cetjs2 - redgremlin</td><td class="result"><a href="https://lichess.org/7Fl7ltKS">0-1</a></td>
      </tr>
      <tr>
        <td>MyTrooName - LongLiveUbuntu</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - aptyp</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>6 тур (20.05 - 25.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>LongLiveUbuntu - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>cetjs2 - MyTrooName</td><td class="result"><a href="https://lichess.org/sJeKSL5U">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>7 тур (25.05 - 01.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - redgremlin</td><td class="result"><a href="https://lichess.org/a2Zd1exJ">0-1</a></td>
      </tr>
      <tr>
        <td>HunOL - cetjs2</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - LongLiveUbuntu</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - J</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>8 тур (25.05 - 01.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - J</td><td class="result"><a href="https://lichess.org/2ihcXx2m">1-0</a></td>
      </tr>
      <tr>
        <td>aptyp - LongLiveUbuntu</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - cetjs2</td><td class="result"><a href="https://lichess.org/MWAIA0SG">0-1</a></td>
      </tr>
      <tr>
        <td>HunOL - MyTrooName</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>9 тур (25.05 - 01.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>HunOL - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - DoctorSinus</td><td class="result"><a href="https://lichess.org/QW0riuKo">1-0</a></td>
      </tr>
      <tr>
        <td>cetjs2 - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>LongLiveUbuntu - J</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>10 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - LongLiveUbuntu</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - cetjs2</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - HunOL</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>11 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - J</td><td class="result"><a href="https://lichess.org/u83chqxq">0-1</a></td>
      </tr>
      <tr>
        <td>cetjs2 - LongLiveUbuntu</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>12 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - cetjs2</td><td class="result"></td>
      </tr>
      <tr>
        <td>LongLiveUbuntu - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - DoctorSinus</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>13 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>aptyp - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - LongLiveUbuntu</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - cetjs2</td><td class="result"><a href="https://lichess.org/FQvIBFTf">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>14 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - MyTrooName</td><td class="result"><a href="https://lichess.org/tRPkm1VI">1-0</a></td>
      </tr>
      <tr>
        <td>cetjs2 - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>LongLiveUbuntu - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - aptyp</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

