<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{ site.title }}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">Турниры <b class="caret"></b></a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          {% capture last_year %}{{ site.data.tournaments | map: 'year' | last }}{% endcapture %}
          {% for entry in site.data.tournaments %}
            {% capture year %}{{ entry.year }}{% endcapture %}
            <li role="presentation" class="dropdown-header">{{ year }}-й год</li>
            {% for trn in entry.events %}
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="/{{ year }}/{{ trn.dir }}">{{ trn.title }}</a>
              </li>
            {% endfor %}
            {% unless year == last_year %}
              <li role="presentation" class="divider"></li>
            {% endunless %}
          {% endfor %}
        </ul>
      </li>

      <li><a href="/reviews/">Обзоры</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
