<table class="table tournament tablesorter">
  <caption><strong>Таблица результатов</strong></caption>
  <thead>
    <tr>
      <th class="player">№</th>
      <th class="name">Участник</th>
      <th class="elo">elo*</th>
      <th class="score" colspan="2">1</th>
      <th class="score" colspan="2">2</th>
      <th class="score" colspan="2">3</th>
      <th class="score" colspan="2">4</th>
      <th class="score" colspan="2">5</th>
      <th class="score" colspan="2">6</th>
      <th class="score" colspan="2">7</th>
      <th class="score" colspan="2">8</th>
      <th class="score" colspan="2">9</th>
      <th class="score" colspan="2">10</th>
      <th class="score" colspan="2">11</th>
      <th class="score" colspan="2">12</th>
      <th class="games">Игры</th>
      <th class="points">Очки</th>
      <th class="berger">Бергер</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="30">* Средний elo на начало турнира</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td class="player">1</td>
      <td class="name"><strong>Kakadu</strong></td>
      <td class="elo">2047</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">12</td>
      <td class="points">11</td>
      <td class="berger">47</td>
    </tr>
    <tr>
      <td class="player">2</td>
      <td class="name"><strong>dvvrd</strong></td>
      <td class="elo">1974</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="games">12</td>
      <td class="points">10</td>
      <td class="berger">26</td>
    </tr>
    <tr>
      <td class="player">3</td>
      <td class="name"><strong>HunOL</strong></td>
      <td class="elo">1895</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">10</td>
      <td class="points">7</td>
      <td class="berger">22</td>
    </tr>
    <tr>
      <td class="player">4</td>
      <td class="name"><strong>iVS</strong></td>
      <td class="elo">1915</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">11</td>
      <td class="points">7</td>
      <td class="berger">11</td>
    </tr>
    <tr>
      <td class="player">5</td>
      <td class="name"><strong>redgremlin</strong></td>
      <td class="elo">1877</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">9</td>
      <td class="points">6</td>
      <td class="berger">17</td>
    </tr>
    <tr>
      <td class="player">6</td>
      <td class="name"><strong>Magian</strong></td>
      <td class="elo">1917</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">8</td>
      <td class="points">6</td>
      <td class="berger">15</td>
    </tr>
    <tr>
      <td class="player">7</td>
      <td class="name"><strong>raven_cler</strong></td>
      <td class="elo">1561</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">7</td>
      <td class="points">4</td>
      <td class="berger">29</td>
    </tr>
    <tr>
      <td class="player">8</td>
      <td class="name"><strong>MyTrooName</strong></td>
      <td class="elo">1587</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="games">11</td>
      <td class="points">3</td>
      <td class="berger">10</td>
    </tr>
    <tr>
      <td class="player">9</td>
      <td class="name"><strong>aptyp</strong></td>
      <td class="elo">1746</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">11</td>
      <td class="points">2</td>
      <td class="berger">5</td>
    </tr>
    <tr>
      <td class="player">10</td>
      <td class="name"><strong>DoctorSinus</strong></td>
      <td class="elo">1398</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="games">8</td>
      <td class="points">1</td>
      <td class="berger">3</td>
    </tr>
    <tr>
      <td class="player">11</td>
      <td class="name"><strong>shell-script</strong></td>
      <td class="elo">1273</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="games">9</td>
      <td class="points">1</td>
      <td class="berger">2</td>
    </tr>
    <tr>
      <td class="player">12</td>
      <td class="name"><strong>J</strong></td>
      <td class="elo">1515</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="games">10</td>
      <td class="points">1</td>
      <td class="berger">1</td>
    </tr>
  </tbody>
</table>
