<table class="table tournament tablesorter">
  <caption>Таблица результатов</caption>
  <thead>
    <tr>
      <th class="player">№</th>
      <th class="name">Участник</th>
      <th class="elo">elo*</th>
      <th class="score" colspan="2">1</th>
      <th class="score" colspan="2">2</th>
      <th class="score" colspan="2">3</th>
      <th class="score" colspan="2">4</th>
      <th class="score" colspan="2">5</th>
      <th class="score" colspan="2">6</th>
      <th class="score" colspan="2">7</th>
      <th class="score" colspan="2">8</th>
      <th class="score" colspan="2">9</th>
      <th class="score" colspan="2">10</th>
      <th class="score" colspan="2">11</th>
      <th class="score" colspan="2">12</th>
      <th class="games">Игры</th>
      <th class="points">Очки</th>
      <th class="berger">Бергер</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="30">* Средний elo на начало турнира</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td class="player">1</td>
      <td class="name">Kakadu</td>
      <td class="elo">2047</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">½</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="games">20</td>
      <td class="points">17½</td>
      <td class="berger">137¾</td>
    </tr>
    <tr>
      <td class="player">2</td>
      <td class="name">dvvrd</td>
      <td class="elo">1974</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">–</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">0</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="games">18</td>
      <td class="points">15</td>
      <td class="berger">111½</td>
    </tr>
    <tr>
      <td class="player">3</td>
      <td class="name">redgremlin</td>
      <td class="elo">1877</td>
      <td class="score">0</td>
      <td class="score">½</td>
      <td class="score">0</td>
      <td class="score">+</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="games">14</td>
      <td class="points">14½</td>
      <td class="berger">109¾</td>
    </tr>
    <tr>
      <td class="player">4</td>
      <td class="name">Magian</td>
      <td class="elo">1917</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">–</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="games">15</td>
      <td class="points">10</td>
      <td class="berger">67</td>
    </tr>
    <tr>
      <td class="player">5</td>
      <td class="name">HunOL</td>
      <td class="elo">1895</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="games">19</td>
      <td class="points">9</td>
      <td class="berger">54½</td>
    </tr>
    <tr>
      <td class="player">6</td>
      <td class="name">iVS</td>
      <td class="elo">1915</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="games">20</td>
      <td class="points">9</td>
      <td class="berger">39</td>
    </tr>
    <tr>
      <td class="player">7</td>
      <td class="name">MyTrooName</td>
      <td class="elo">1587</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="games">17</td>
      <td class="points">7</td>
      <td class="berger">27</td>
    </tr>
    <tr>
      <td class="player">8</td>
      <td class="name">aptyp</td>
      <td class="elo">1746</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">½</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="score">1</td>
      <td class="score">+</td>
      <td class="games">19</td>
      <td class="points">3½</td>
      <td class="berger">16</td>
    </tr>
    <tr>
      <td class="player">9</td>
      <td class="name">shell-script</td>
      <td class="elo">1273</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="games">13</td>
      <td class="points">3</td>
      <td class="berger">11</td>
    </tr>
    <tr>
      <td class="player">10</td>
      <td class="name">DoctorSinus</td>
      <td class="elo">1398</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">½</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">+</td>
      <td class="score">+</td>
      <td class="score">0</td>
      <td class="score">+</td>
      <td class="games">14</td>
      <td class="points">1½</td>
      <td class="berger">12½</td>
    </tr>
    <tr>
      <td class="player">11</td>
      <td class="name">raven_cler</td>
      <td class="elo">1561</td>
      <td class="score">1</td>
      <td class="score">–</td>
      <td class="score">1</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">1</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">–</td>
      <td class="games">7</td>
      <td class="points">0</td>
      <td class="berger">0</td>
    </tr>
    <tr>
      <td class="player">12</td>
      <td class="name">J</td>
      <td class="elo">1515</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">–</td>
      <td class="score">1</td>
      <td class="score">–</td>
      <td class="score">0</td>
      <td class="score">–</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="games">10</td>
      <td class="points">0</td>
      <td class="berger">0</td>
    </tr>
  </tbody>
</table>
