<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>1 тур (29.08 - 07.09)</strong>
    </caption>
    <tbody>
      <tr>
        <td>dvvrd - redgremlin</td><td class="result"><a href="http://lichess.org/Ge7ltqvb">1-0</a></td>
      </tr>
      <tr>
        <td>shell-script - iVS</td><td class="result"><a href="http://lichess.org/OQY57typ">0-1</a></td>
      </tr>
      <tr>
        <td>raven_cler - Kakadu</td><td class="result"><a href="http://lichess.org/m3BY1g4Y">1-0</a></td>
      </tr>
      <tr>
        <td>aptyp - Magian</td><td class="result"><a href="http://lichess.org/9PBih9kx">0-1</a></td>
      </tr>
      <tr>
        <td>MyTrooName - HunOL</td><td class="result"><a href="http://lichess.org/QpLhR5mf">1-0</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - J</td><td class="result"><a href="http://lichess.org/kOKLNqnp">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>2 тур (29.08 - 07.09)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - J</td><td class="result"><a href="http://lichess.org/CDc9fgJL">1-0</a></td>
      </tr>
      <tr>
        <td>HunOL - DoctorSinus</td><td class="result"><a href="http://lichess.org/RDf1SNcJ">1-0</a></td>
      </tr>
      <tr>
        <td>Magian - MyTrooName</td><td class="result"><a href="http://lichess.org/xHtTlIij">1-0</a></td>
      </tr>
      <tr>
        <td>Kakadu - aptyp</td><td class="result"><a href="http://lichess.org/DzVbkjWC">1-0</a></td>
      </tr>
      <tr>
        <td>iVS - raven_cler</td><td class="result"><a href="http://lichess.org/M7HsiCjU">0-1</a></td>
      </tr>
      <tr>
        <td>dvvrd - shell-script</td><td class="result"><a href="http://lichess.org/X4xJeoqb">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>3 тур (05.09 - 14.09)</strong>
    </caption>
    <tbody>
      <tr>
        <td>shell-script - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>raven_cler - dvvrd</td><td class="result"><a href="http://lichess.org/Zy9v5UuA">1-0</a></td>
      </tr>
      <tr>
        <td>aptyp - iVS</td><td class="result"><a href="http://lichess.org/nDTD6U0I">0-1</a></td>
      </tr>
      <tr>
        <td>MyTrooName - Kakadu</td><td class="result"><a href="http://lichess.org/w0row7ov">0-1</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - Magian</td><td class="result"><a href="http://lichess.org/UDMLNMEP">0-1</a></td>
      </tr>
      <tr>
        <td>J - HunOL</td><td class="result"><a href="http://lichess.org/0fT5yR8c">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>4 тур (05.09 - 14.09)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - HunOL</td><td class="result"><a href="http://lichess.org/wzqaeZmX">0-1</a></td>
      </tr>
      <tr>
        <td>Magian - J</td><td class="result"><a href="http://lichess.org/ZxbrBdxQ">1-0</a></td>
      </tr>
      <tr>
        <td>Kakadu - DoctorSinus</td><td class="result"><a href="http://lichess.org/5uxE6vgB">1-0</a></td>
      </tr>
      <tr>
        <td>iVS - MyTrooName</td><td class="result"><a href="http://lichess.org/rTtgeuYf">1-0</a></td>
      </tr>
      <tr>
        <td>dvvrd - aptyp</td><td class="result"><a href="http://lichess.org/e3Iycd3J">1-0</a></td>
      </tr>
      <tr>
        <td>shell-script - raven_cler</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>5 тур (12.09 - 21.09)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - redgremlin</td><td class="result"><a href="http://lichess.org/UZF7qNoL">0-1</a></td>
      </tr>
      <tr>
        <td>aptyp - shell-script</td><td class="result"><a href="http://lichess.org/w8zuMFf6">0-1</a></td>
      </tr>
      <tr>
        <td>MyTrooName - dvvrd</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - iVS</td><td class="result"><a href="http://lichess.org/WKWQZAhV">0-1</a></td>
      </tr>
      <tr>
        <td>J - Kakadu</td><td class="result"><a href="http://lichess.org/Z91HlbGH">0-1</a></td>
      </tr>
      <tr>
        <td>HunOL - Magian</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>6 тур (12.09 - 21.09)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - Magian</td><td class="result"><a href="http://lichess.org/8OFpLUkI">1-0</a></td>
      </tr>
      <tr>
        <td>Kakadu - HunOL</td><td class="result"><a href="http://lichess.org/NPnAgttz">1-0</a></td>
      </tr>
      <tr>
        <td>iVS - J</td><td class="result"><a href="http://lichess.org/7Riq34y8">1-0</a></td>
      </tr>
      <tr>
        <td>dvvrd - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>shell-script - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>raven_cler - aptyp</td><td class="result"><a href="http://lichess.org/1vwKfa4u">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>7 тур (19.09 - 28.09)</strong>
    </caption>
    <tbody>
      <tr>
        <td>aptyp - redgremlin</td><td class="result"><a href="http://lichess.org/UWdOH1Do">0-1</a></td>
      </tr>
      <tr>
        <td>MyTrooName - raven_cler</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - shell-script</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - dvvrd</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - iVS</td><td class="result"><a href="http://lichess.org/C46618Az">1-0</a></td>
      </tr>
      <tr>
        <td>Magian - Kakadu</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>8 тур (19.09 - 28.09)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - Kakadu</td><td class="result"></td>
      </tr>
      <tr>
        <td>iVS - Magian</td><td class="result"><a href="http://lichess.org/CY0nPjtx">0-1</a></td>
      </tr>
      <tr>
        <td>dvvrd - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>shell-script - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>raven_cler - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - MyTrooName</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>9 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - raven_cler</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - shell-script</td><td class="result"></td>
      </tr>
      <tr>
        <td>Magian - dvvrd</td><td class="result"></td>
      </tr>
      <tr>
        <td>Kakadu - iVS</td><td class="result"><a href="http://lichess.org/ct2yMTMn">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>10 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - iVS</td><td class="result"></td>
      </tr>
      <tr>
        <td>dvvrd - Kakadu</td><td class="result"></td>
      </tr>
      <tr>
        <td>shell-script - Magian</td><td class="result"></td>
      </tr>
      <tr>
        <td>raven_cler - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - DoctorSinus</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>11 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>Magian - raven_cler</td><td class="result"></td>
      </tr>
      <tr>
        <td>Kakadu - shell-script</td><td class="result"></td>
      </tr>
      <tr>
        <td>iVS - dvvrd</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>12 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - dvvrd</td><td class="result"></td>
      </tr>
      <tr>
        <td>iVS - shell-script</td><td class="result"><a href="http://lichess.org/dYSzsQkA">1-0</a></td>
      </tr>
      <tr>
        <td>Kakadu - raven_cler</td><td class="result"></td>
      </tr>
      <tr>
        <td>Magian - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - DoctorSinus</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>13 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>J - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - Magian</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - Kakadu</td><td class="result"></td>
      </tr>
      <tr>
        <td>raven_cler - iVS</td><td class="result"></td>
      </tr>
      <tr>
        <td>shell-script - dvvrd</td><td class="result"><a href="http://lichess.org/fAWF1JUQ">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>14 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - shell-script</td><td class="result"></td>
      </tr>
      <tr>
        <td>dvvrd - raven_cler</td><td class="result"></td>
      </tr>
      <tr>
        <td>iVS - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>Kakadu - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>Magian - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - J</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>15 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>HunOL - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - Magian</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - Kakadu</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - iVS</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - dvvrd</td><td class="result"></td>
      </tr>
      <tr>
        <td>raven_cler - shell-script</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>16 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - raven_cler</td><td class="result"></td>
      </tr>
      <tr>
        <td>shell-script - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>dvvrd - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>iVS - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>Kakadu - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>Magian - HunOL</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>17 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Magian - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - Kakadu</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - iVS</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - dvvrd</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - shell-script</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - raven_cler</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>18 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>raven_cler - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>shell-script - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>dvvrd - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>iVS - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>Kakadu - Magian</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>19 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Kakadu - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>Magian - iVS</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - dvvrd</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - shell-script</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - raven_cler</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - aptyp</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>20 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - MyTrooName</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>raven_cler - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>shell-script - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>dvvrd - Magian</td><td class="result"></td>
      </tr>
      <tr>
        <td>iVS - Kakadu</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>21 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>iVS - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>Kakadu - dvvrd</td><td class="result"></td>
      </tr>
      <tr>
        <td>Magian - shell-script</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - raven_cler</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - aptyp</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - MyTrooName</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>22 тур (??.?? - ??.??)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - DoctorSinus</td><td class="result"></td>
      </tr>
      <tr>
        <td>MyTrooName - J</td><td class="result"></td>
      </tr>
      <tr>
        <td>aptyp - HunOL</td><td class="result"></td>
      </tr>
      <tr>
        <td>raven_cler - Magian</td><td class="result"></td>
      </tr>
      <tr>
        <td>shell-script - Kakadu</td><td class="result"></td>
      </tr>
      <tr>
        <td>dvvrd - iVS</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

