<table class="table table-condensed" style="width:auto">
  <tbody>
    <tr>
      <td style="text-align:right"><strong>1-2 туры</strong></td>
      <td><a href="evans-gambit/">Итальянская партия. Гамбит Эванса</a></td>
      <td>
        <a href="http://lichess.org/?fen=r1bqk1nr%2Fpppp1ppp%2F2n5%2F2b1p3%2F1PB1P3%2F5N2%2FP1PP1PPP%2FRNBQK2R%20b%20KQkq%20b3#friend">
          <button type="button" class="btn btn-primary btn-xs">Играть</button>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align:right"><strong>3-4 туры</strong></td>
      <td><a href="winawer-variation/">Французская защита. Вариант Винавера</a></td>
      <td>
        <a href="http://lichess.org/?fen=rnbqk1nr%2Fpp3ppp%2F4p3%2F2ppP3%2F3P4%2FP1P5%2F2P2PPP%2FR1BQKBNR%20b%20KQkq%20-#friend">
          <button type="button" class="btn btn-primary btn-xs">Играть</button>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align:right"><strong>5-6 туры</strong></td>
      <td><a href="karlsbad-pawn-structure/">Разменный вариант ферзевого гамбита</a></td>
      <td>
        <a href="http://lichess.org/?fen=rnbqkb1r%2Fppp2ppp%2F5n2%2F3p4%2F3P4%2F2N5%2FPP2PPPP%2FR1BQKBNR%20w%20KQkq%20-#friend">
          <button type="button" class="btn btn-primary btn-xs">Играть</button>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align:right"><strong>7-8 туры</strong></td>
      <td><a href="benko-gambit/">Волжский гамбит</a></td>
      <td>
        <a href="http://lichess.org/?fen=rnbqkb1r%2F3ppppp%2Fp4n2%2F1PpP4%2F8%2F5P2%2FPP2P1PP%2FRNBQKBNR%20b%20KQkq%20-#friend">
          <button type="button" class="btn btn-primary btn-xs">Играть</button>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align:right"><strong>9-10 туры</strong></td>
      <td><a href="samisch-variation/">Староиндийская защита. Вариант Земиша</a></td>
      <td>
        <a href="http://lichess.org/?fen=r1bq1rk1%2Fpp2ppbp%2F2np1np1%2F2pP4%2F2P1P3%2F2N1BP2%2FPP2N1PP%2FR2QKB1R%20b%20KQ%20-#friend">
          <button type="button" class="btn btn-primary btn-xs">Играть</button>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align:right"><strong>11-12 туры</strong></td>
      <td><a href="caro-kann-exchange-variation/">Защита Каро-Канн. Разменный вариант</a></td>
      <td>
        <a href="http://lichess.org/?fen=r1bqkbnr%2Fpp2pppp%2F2n5%2F3p4%2F3P4%2F2PB4%2FPP3PPP%2FRNBQK1NR%20b%20KQkq%20-#friend">
          <button type="button" class="btn btn-primary btn-xs">Играть</button>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align:right"><strong>13-14 туры</strong></td>
      <td><a href="huebner-variation/">Защита Нимцовича. Вариант Хюбнера</a></td>
      <td>
        <a href="http://lichess.org/?fen=r1bqk2r%2Fpp3ppp%2F2nppn2%2F2p5%2F2PP4%2F2PBPN2%2FP4PPP%2FR1BQK2R%20w%20KQkq%20-#friend">
          <button type="button" class="btn btn-primary btn-xs">Играть</button>
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align:right"><strong>15-16 туры</strong></td>
      <td><a href="marshall-counter-attack/">Испанская партия. Контратака Маршалла</a></td>
      <td>
        <a href="http://lichess.org/?fen=r1bq1rk1%2F2p1bppp%2Fp1n2n2%2F1p1pp3%2F4P3%2F1BP2N2%2FPP1P1PPP%2FRNBQR1K1%20w%20-%20d6#friend">
          <button type="button" class="btn btn-primary btn-xs">Играть</button>
        </a>
      </td>
    </tr>
  </tbody>
</table>
