<table class="table tournament tablesorter">
  <caption><strong>Таблица результатов</strong><caption>
  <thead>
    <tr>
      <th>№</th>
      <th>Участник</th>
      <th>elo*</th>
      <th class="{sorter: false}">1</th>
      <th class="{sorter: false}">2</th>
      <th class="{sorter: false}">3</th>
      <th class="{sorter: false}">4</th>
      <th class="{sorter: false}">5</th>
      <th class="{sorter: false}">6</th>
      <th class="{sorter: false}">7</th>
      <th class="{sorter: false}">8</th>
      <th class="{sorter: false}">9</th>
      <th class="{sorter: false}">10</th>
      <th>Игры</th>
      <th>Очки</th>
      <th>Место</th>
      <th>Бергер</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="17">* Средний elo на начало турнира</td>
    </tr>
  </tfoot>
  <tbody>
    <tr class="place-7">
      <td class="number">1</td>
      <td class="player"><strong>HunOL</strong></td>
      <td class="elo">1741</td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="games">6</td>
      <td class="total">2</td>
      <td class="place">7</td>
      <td class="berger">4.5</td>
    </tr>
    <tr class="place-5">
      <td class="number">2</td>
      <td class="player"><strong>J</strong></td>
      <td class="elo">1529</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="score"></td>
      <td class="score">½</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="games">5</td>
      <td class="total">2½</td>
      <td class="place">5</td>
      <td class="berger">7.75</td>
    </tr>
    <tr class="place-9">
      <td class="number">3</td>
      <td class="player"><strong>Adem</strong></td>
      <td class="elo">1578</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="games">5</td>
      <td class="total">2</td>
      <td class="place">9</td>
      <td class="berger">4.0</td>
    </tr>
    <tr class="place-2">
      <td class="number">4</td>
      <td class="player"><strong>iVS</strong></td>
      <td class="elo">1840</td>
      <td class="score">1</td>
      <td class="score">½</td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="games">6</td>
      <td class="total">4½</td>
      <td class="place">2</td>
      <td class="berger">13.25</td>
    </tr>
    <tr class="place-6">
      <td class="number">5</td>
      <td class="player"><strong>DoctorSinus</strong></td>
      <td class="elo">1259</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">6</td>
      <td class="total">2</td>
      <td class="place">6</td>
      <td class="berger">5.5</td>
    </tr>
    <tr class="place-10">
      <td class="number">6</td>
      <td class="player"><strong>trex6</strong></td>
      <td class="elo">1283</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="games">4</td>
      <td class="total">1</td>
      <td class="place">10</td>
      <td class="berger">2.0</td>
    </tr>
    <tr class="place-1">
      <td class="number">7</td>
      <td class="player"><strong>Magian</strong></td>
      <td class="elo">1831</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="games">8</td>
      <td class="total">6</td>
      <td class="place">1</td>
      <td class="berger">13.0</td>
    </tr>
    <tr class="place-3">
      <td class="number">8</td>
      <td class="player"><strong>redgremlin</strong></td>
      <td class="elo">1685</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="score">½</td>
      <td class="score"></td>
      <td class="games">4</td>
      <td class="total">3½</td>
      <td class="place">3</td>
      <td class="berger">11.75</td>
    </tr>
    <tr class="place-4">
      <td class="number">9</td>
      <td class="player"><strong>aptyp</strong></td>
      <td class="elo">1578</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">½</td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="games">8</td>
      <td class="total">3½</td>
      <td class="place">4</td>
      <td class="berger">9.25</td>
    </tr>
    <tr class="place-8">
      <td class="number">10</td>
      <td class="player"><strong>MyTrooName</strong></td>
      <td class="elo">1460</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="games">6</td>
      <td class="total">2</td>
      <td class="place">8</td>
      <td class="berger">4.5</td>
    </tr>
  </tbody>
</table>
