<table class="table tournament tablesorter">
  <caption><strong>Таблица результатов</strong><caption>
  <thead>
    <tr>
      <th>№</th>
      <th>Участник</th>
      <th>elo*</th>
      <th class="opponent" colspan="2">1</th>
      <th class="opponent" colspan="2">2</th>
      <th class="opponent" colspan="2">3</th>
      <th class="opponent" colspan="2">4</th>
      <th class="opponent" colspan="2">5</th>
      <th class="opponent" colspan="2">6</th>
      <th class="opponent" colspan="2">7</th>
      <th class="opponent" colspan="2">8</th>
      <th class="opponent" colspan="2">9</th>
      <th class="opponent" colspan="2">10</th>
      <th>Игры</th>
      <th>Очки</th>
      <th>Место</th>
      <th>Бергер</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="27">* Средний elo на начало турнира</td>
    </tr>
  </tfoot>
  <tbody>
    <tr class="place-7">
      <td class="number">1</td>
      <td class="player"><strong>HunOL</strong></td>
      <td class="elo">1741</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="games">16</td>
      <td class="total">7</td>
      <td class="place">7</td>
      <td class="berger">40.0</td>
    </tr>
    <tr class="place-6">
      <td class="number">2</td>
      <td class="player"><strong>J</strong></td>
      <td class="elo">1529</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">½</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">½</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="games">16</td>
      <td class="total">8</td>
      <td class="place">6</td>
      <td class="berger">43.75</td>
    </tr>
    <tr class="place-2">
      <td class="number">3</td>
      <td class="player"><strong>Adem</strong></td>
      <td class="elo">1578</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">½</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="games">17</td>
      <td class="total">11½</td>
      <td class="place">2</td>
      <td class="berger">70.5</td>
    </tr>
    <tr class="place-3">
      <td class="number">4</td>
      <td class="player"><strong>iVS</strong></td>
      <td class="elo">1840</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">½</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">½</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="games">17</td>
      <td class="total">11</td>
      <td class="place">3</td>
      <td class="berger">72.5</td>
    </tr>
    <tr class="place-9">
      <td class="number">5</td>
      <td class="player"><strong>DoctorSinus</strong></td>
      <td class="elo">1259</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">½</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="games">14</td>
      <td class="total">5½</td>
      <td class="place">9</td>
      <td class="berger">29.5</td>
    </tr>
    <tr class="place-10">
      <td class="number">6</td>
      <td class="player"><strong><del>trex6</del></strong></td>
      <td class="elo">1283</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="games">18</td>
      <td class="total">0</td>
      <td class="place">10</td>
      <td class="berger">0.0</td>
    </tr>
    <tr class="place-4">
      <td class="number">7</td>
      <td class="player"><strong>Magian</strong></td>
      <td class="elo">1831</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">½</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">½</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="games">15</td>
      <td class="total">10</td>
      <td class="place">4</td>
      <td class="berger">59.25</td>
    </tr>
    <tr class="place-1">
      <td class="number">8</td>
      <td class="player"><strong>redgremlin</strong></td>
      <td class="elo">1685</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">½</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="games">14</td>
      <td class="total">13½</td>
      <td class="place">1</td>
      <td class="berger">100.25</td>
    </tr>
    <tr class="place-5">
      <td class="number">9</td>
      <td class="player"><strong>aptyp</strong></td>
      <td class="elo">1578</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">½</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="games">18</td>
      <td class="total">8½</td>
      <td class="place">5</td>
      <td class="berger">57.75</td>
    </tr>
    <tr class="place-8">
      <td class="number">10</td>
      <td class="player"><strong>MyTrooName</strong></td>
      <td class="elo">1460</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="games">17</td>
      <td class="total">6</td>
      <td class="place">8</td>
      <td class="berger">33.0</td>
    </tr>
  </tbody>
</table>
