<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>1 тур (29.01 - 10.02)</strong>
    </caption>
    <tbody>
      <tr>
        <td>HunOL - MyTrooName</td><td class="result"><a href="http://lichess.org/kTHzjDUs">1-0</a></td>
      </tr>
      <tr>
        <td>J - aptyp</td><td class="result"><a href="http://lichess.org/Aw380Zxx">1-0</a></td>
      </tr>
      <tr>
        <td>Adem - redgremlin</td><td class="result"><a href="http://lichess.org/evHHgkej">0-1</a></td>
      </tr>
      <tr>
        <td>iVS - Magian</td><td class="result"><a href="http://lichess.org/0WOt5RD9">1-0</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - trex6</td><td class="result">1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>2 тур (29.01 - 10.02)</strong>
    </caption>
    <tbody>
      <tr>
        <td>HunOL - J</td><td class="result"><a href="http://lichess.org/bzLwvkSp">1-0</a></td>
      </tr>
      <tr>
        <td>aptyp - Adem</td><td class="result"><a href="http://lichess.org/iQ4zZPx9">1-0</a></td>
      </tr>
      <tr>
        <td>redgremlin - iVS</td><td class="result"><a href="http://lichess.org/Ix3fJtWu">1-0</a></td>
      </tr>
      <tr>
        <td>Magian - DoctorSinus</td><td class="result"><a href="http://lichess.org/13IOpd4f">1-0</a></td>
      </tr>
      <tr>
        <td>MyTrooName - trex6</td><td class="result">1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>3 тур (15.02 - 24.02)</strong>
    </caption>
    <tbody>
      <tr>
        <td>J - MyTrooName</td><td class="result"><a href="http://lichess.org/I8XA98iV">1-0</a></td>
      </tr>
      <tr>
        <td>Adem - HunOL</td><td class="result"><a href="http://lichess.org/8HN2xZIt">1-0</a></td>
      </tr>
      <tr>
        <td>iVS - aptyp</td><td class="result"><a href="http://lichess.org/joKufKf9">0-1</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - redgremlin</td><td class="result"><a href="http://lichess.org/NnU5IDCe">0-1</a></td>
      </tr>
      <tr>
        <td>trex6 - Magian</td><td class="result">0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>4 тур (15.01 - 24.02)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - Magian</td><td class="result"><a href="http://lichess.org/Okv3j9ya">0-1</a></td>
      </tr>
      <tr>
        <td>redgremlin - trex6</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>aptyp - DoctorSinus</td><td class="result"><a href="http://lichess.org/jv2sCB0T">0-1</a></td>
      </tr>
      <tr>
        <td>HunOL - iVS</td><td class="result"><a href="http://lichess.org/Pxh0L0sX">0-1</a></td>
      </tr>
      <tr>
        <td>J - Adem</td><td class="result"><a href="http://lichess.org/PWxx8xIl">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>5 тур (23.02 - 03.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Adem - MyTrooName</td><td class="result"><a href="http://lichess.org/QpCY71n0">1-0</a></td>
      </tr>
      <tr>
        <td>iVS - J</td><td class="result"><a href="http://lichess.org/xJ5Zg31G">1/2</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - HunOL</td><td class="result"><a href="http://lichess.org/mIgvPO6R">1-0</a></td>
      </tr>
      <tr>
        <td>trex6 - aptyp</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>Magian - redgremlin</td><td class="result"><a href="http://lichess.org/iISkbToQ">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>6 тур (23.02 - 03.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - redgremlin</td><td class="result"><a href="http://lichess.org/fazrK4JI">0-1</a></td>
      </tr>
      <tr>
        <td>aptyp - Magian</td><td class="result"><a href="http://lichess.org/8fjvtM9N">0-1</a></td>
      </tr>
      <tr>
        <td>HunOL - trex6</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>J - DoctorSinus</td><td class="result"><a href="http://lichess.org/uWPfEQxu">1-0</a></td>
      </tr>
      <tr>
        <td>Adem - iVS</td><td class="result"><a href="http://lichess.org/E5lKPjai">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>7 тур (09.03 - 17.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>iVS - MyTrooName</td><td class="result"><a href="http://lichess.org/POMBM2SF">0-1</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - Adem</td><td class="result"><a href="http://lichess.org/sF4vtpgZ">0-1</a></td>
      </tr>
      <tr>
        <td>trex6 - J</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>Magian - HunOL</td><td class="result"><a href="http://lichess.org/tdy5NQsC">1-0</a></td>
      </tr>
      <tr>
        <td>redgremlin - aptyp</td><td class="result"><a href="http://lichess.org/cmweG7sk">1/2</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>8 тур (09.03 - 17.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - aptyp</td><td class="result"><a href="http://lichess.org/XBBoBOvY">1-0</a></td>
      </tr>
      <tr>
        <td>HunOL - redgremlin</td><td class="result"><a href="http://lichess.org/Jf67pdXl">0-1</a></td>
      </tr>
      <tr>
        <td>J - Magian</td><td class="result"><a href="http://lichess.org/CFnN8QyU">0-1</a></td>
      </tr>
      <tr>
        <td>Adem - trex6</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>iVS - DoctorSinus</td><td class="result"><a href="http://lichess.org/Fn8vjCRl">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>9 тур (17.03 - 24.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - MyTrooName</td><td class="result"><a href="http://lichess.org/Uswm1qNX">0-1</a></td>
      </tr>
      <tr>
        <td>trex6 - iVS</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>Magian - Adem</td><td class="result"><a href="http://lichess.org/zOkOLvVR">1/2</a></td>
      </tr>
      <tr>
        <td>redgremlin - J</td><td class="result"><a href="http://lichess.org/A5vvA4Ep">1-0</a></td>
      </tr>
      <tr>
        <td>aptyp - HunOL</td><td class="result"><a href="http://lichess.org/vwquEtSC">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>10 тур (17.03 - 24.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - HunOL</td><td class="result"><a href="http://lichess.org/179v106X">0-1</a></td>
      </tr>
      <tr>
        <td>aptyp - J</td><td class="result"><a href="http://lichess.org/l2U948m2">0-1</a></td>
      </tr>
      <tr>
        <td>redgremlin - Adem</td><td class="result"><a href="http://lichess.org/eNRskOlE">1-0</a></td>
      </tr>
      <tr>
        <td>Magian - iVS</td><td class="result"><a href="http://lichess.org/sfhKSFNJ">1/2</a></td>
      </tr>
      <tr>
        <td>trex6 - DoctorSinus</td><td class="result">0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>11 тур (31.03 - 06.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>J - HunOL</td><td class="result"><a href="http://lichess.org/24yuytO9">1-0</a></td>
      </tr>
      <tr>
        <td>Adem - aptyp</td><td class="result"><a href="http://lichess.org/tBmNTDKV">1-0</a></td>
      </tr>
      <tr>
        <td>iVS - redgremlin</td><td class="result"><a href="http://lichess.org/AyuZYlIh">0-1</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - Magian</td><td class="result"><a href="http://lichess.org/7vEbz1cV">1-0</a></td>
      </tr>
      <tr>
        <td>trex6 - MyTrooName</td><td class="result">0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>12 тур (31.03 - 06.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - J</td><td class="result"><a href="http://lichess.org/Iok1Vpnf">1-0</a></td>
      </tr>
      <tr>
        <td>HunOL - Adem</td><td class="result"><a href="http://lichess.org/5TVlLxdN">1-0</a></td>
      </tr>
      <tr>
        <td>aptyp - iVS</td><td class="result"><a href="http://lichess.org/lO09pYYr">0-1</a></td>
      </tr>
      <tr>
        <td>redgremlin - DoctorSinus</td><td class="result"><a href="http://lichess.org/OV07XzGT">1-0</a></td>
      </tr>
      <tr>
        <td>Magian - trex6</td><td class="result">1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>13 тур (07.04 - 14.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Magian - MyTrooName</td><td class="result"><a href="http://lichess.org/HOqZswFX">1-0</a></td>
      </tr>
      <tr>
        <td>trex6 - redgremlin</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>DoctorSinus - aptyp</td><td class="result"><a href="http://lichess.org/YKNz5X9R">0-1</a></td>
      </tr>
      <tr>
        <td>iVS - HunOL</td><td class="result"><a href="http://lichess.org/d19DJOaw">1-0</a></td>
      </tr>
      <tr>
        <td>Adem - J</td><td class="result"><a href="http://lichess.org/FvT1HGK1">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>14 тур (07.04 - 14.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - Adem</td><td class="result"><a href="http://lichess.org/xhXaOzWg">0-1</a></td>
      </tr>
      <tr>
        <td>J - iVS</td><td class="result"><a href="http://lichess.org/55aPineM">0-1</a></td>
      </tr>
      <tr>
        <td>HunOL - DoctorSinus</td><td class="result"><a href="http://lichess.org/UAQ1FUjX">0-1</a></td>
      </tr>
      <tr>
        <td>aptyp - trex6</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>redgremlin - Magian</td><td class="result"><a href="http://lichess.org/P6AnicV6">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>15 тур (14.04 - 20.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - MyTrooName</td><td class="result"><a href="http://lichess.org/9HXvArPk">1-0</a></td>
      </tr>
      <tr>
        <td>Magian - aptyp</td><td class="result"><a href="http://lichess.org/QUgMlNFH">0-1</a></td>
      </tr>
      <tr>
        <td>trex6 - HunOL</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>DoctorSinus - J</td><td class="result"><a href="http://lichess.org/fgMSbkoF">1/2</a></td>
      </tr>
      <tr>
        <td>iVS - Adem</td><td class="result"><a href="http://lichess.org/B4TwHfWt">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>16 тур (14.04 - 20.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - iVS</td><td class="result"><a href="http://lichess.org/XPqW1fxZ">0-1</a></td>
      </tr>
      <tr>
        <td>Adem - DoctorSinus</td><td class="result"><a href="http://lichess.org/frFKb0YR">1-0</a></td>
      </tr>
      <tr>
        <td>J - trex6</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>HunOL - Magian</td><td class="result"><a href="http://lichess.org/0uc0rbAL">0-1</a></td>
      </tr>
      <tr>
        <td>aptyp - redgremlin</td><td class="result"><a href="http://lichess.org/jj5K6ELD">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>17 тур (21.04 - 27.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>aptyp - MyTrooName</td><td class="result"><a href="http://lichess.org/M3dH9Zvg">1-0</a></td>
      </tr>
      <tr>
        <td>redgremlin - HunOL</td><td class="result"><a href="http://lichess.org/8zuA4RSy">1/2</a></td>
      </tr>
      <tr>
        <td>Magian - J</td><td class="result"><a href="http://lichess.org/BChBmmij">1-0</a></td>
      </tr>
      <tr>
        <td>trex6 - Adem</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>DoctorSinus - iVS</td><td class="result"><a href="http://lichess.org/nFgHLbf1">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>18 тур (21.04 - 27.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - DoctorSinus</td><td class="result"><a href="http://lichess.org/odCoMvMA">1-0</a></td>
      </tr>
      <tr>
        <td>iVS - trex6</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>Adem - Magian</td><td class="result"></td>
      </tr>
      <tr>
        <td>J - redgremlin</td><td class="result"><a href="http://lichess.org/A1HA3GN5">0-1</a></td>
      </tr>
      <tr>
        <td>HunOL - aptyp</td><td class="result"><a href="http://lichess.org/Z9duaVoI">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

