<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>1 тур (29.01 - 10.02)</strong>
    </caption>
    <tbody>
      <tr>
        <td>HunOL - MyTrooName</td><td>1-0</td>
      </tr>
      <tr>
        <td>J - aptyp</td><td>1-0</td>
      </tr>
      <tr>
        <td>Adem - redgremlin</td><td>0-1</td>
      </tr>
      <tr>
        <td>iVS - Magian</td><td>1-0</td>
      </tr>
      <tr>
        <td>DoctorSinus - trex6</td><td>0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>2 тур (29.01 - 10.02)</strong>
    </caption>
    <tbody>
      <tr>
        <td>HunOL - J</td><td>1-0</td>
      </tr>
      <tr>
        <td>aptyp - Adem</td><td>1-0</td>
      </tr>
      <tr>
        <td>redgremlin - iVS</td><td>1-0</td>
      </tr>
      <tr>
        <td>Magian - DoctorSinus</td><td>1-0</td>
      </tr>
      <tr>
        <td>MyTrooName - trex6</td><td>1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>3 тур (15.02 - 24.02)</strong>
    </caption>
    <tbody>
      <tr>
        <td>J - MyTrooName</td><td>1-0</td>
      </tr>
      <tr>
        <td>Adem - HunOL</td><td>1-0</td>
      </tr>
      <tr>
        <td>iVS - aptyp</td><td>0-1</td>
      </tr>
      <tr>
        <td>DoctorSinus - redgremlin</td><td>0-1</td>
      </tr>
      <tr>
        <td>trex6 - Magian</td><td>0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>4 тур (15.01 - 24.02)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - Magian</td><td>0-1</td>
      </tr>
      <tr>
        <td>redgremlin - trex6</td><td></td>
      </tr>
      <tr>
        <td>aptyp - DoctorSinus</td><td>0-1</td>
      </tr>
      <tr>
        <td>HunOL - iVS</td><td>0-1</td>
      </tr>
      <tr>
        <td>J - Adem</td><td>0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>5 тур (23.02 - 03.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Adem - MyTrooName</td><td>1-0</td>
      </tr>
      <tr>
        <td>iVS - J</td><td>1/2</td>
      </tr>
      <tr>
        <td>DoctorSinus - HunOL</td><td>1-0</td>
      </tr>
      <tr>
        <td>trex6 - aptyp</td><td>0-1</td>
      </tr>
      <tr>
        <td>Magian - redgremlin</td><td>0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>6 тур (23.02 - 03.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - redgremlin</td><td></td>
      </tr>
      <tr>
        <td>aptyp - Magian</td><td>0-1</td>
      </tr>
      <tr>
        <td>HunOL - trex6</td><td></td>
      </tr>
      <tr>
        <td>J - DoctorSinus</td><td></td>
      </tr>
      <tr>
        <td>Adem - iVS</td><td>0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>7 тур (09.03 - 17.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>iVS - MyTrooName</td><td></td>
      </tr>
      <tr>
        <td>DoctorSinus - Adem</td><td>0-1</td>
      </tr>
      <tr>
        <td>trex6 - J</td><td>0-1</td>
      </tr>
      <tr>
        <td>Magian - HunOL</td><td>1-0</td>
      </tr>
      <tr>
        <td>redgremlin - aptyp</td><td>1/2</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>8 тур (09.03 - 17.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - aptyp</td><td>1-0</td>
      </tr>
      <tr>
        <td>HunOL - redgremlin</td><td></td>
      </tr>
      <tr>
        <td>J - Magian</td><td>0-1</td>
      </tr>
      <tr>
        <td>Adem - trex6</td><td>1-0</td>
      </tr>
      <tr>
        <td>iVS - DoctorSinus</td><td>1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>9 тур (17.03 - 24.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - MyTrooName</td><td></td>
      </tr>
      <tr>
        <td>trex6 - iVS</td><td></td>
      </tr>
      <tr>
        <td>Magian - Adem</td><td>1/2</td>
      </tr>
      <tr>
        <td>redgremlin - J</td><td>1-0</td>
      </tr>
      <tr>
        <td>aptyp - HunOL</td><td>1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>10 тур (17.03 - 24.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - HunOL</td><td>0-1</td>
      </tr>
      <tr>
        <td>aptyp - J</td><td>0-1</td>
      </tr>
      <tr>
        <td>redgremlin - Adem</td><td>1-0</td>
      </tr>
      <tr>
        <td>Magian - iVS</td><td>1/2</td>
      </tr>
      <tr>
        <td>trex6 - DoctorSinus</td><td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>11 тур (24.03 - 30.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>J - HunOL</td><td></td>
      </tr>
      <tr>
        <td>Adem - aptyp</td><td></td>
      </tr>
      <tr>
        <td>iVS - redgremlin</td><td></td>
      </tr>
      <tr>
        <td>DoctorSinus - Magian</td><td></td>
      </tr>
      <tr>
        <td>trex6 - MyTrooName</td><td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>12 тур (24.03 - 30.03)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - J</td><td></td>
      </tr>
      <tr>
        <td>HunOL - Adem</td><td></td>
      </tr>
      <tr>
        <td>aptyp - iVS</td><td></td>
      </tr>
      <tr>
        <td>redgremlin - DoctorSinus</td><td></td>
      </tr>
      <tr>
        <td>Magian - trex6</td><td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>13 тур (31.03 - 06.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Magian - MyTrooName</td><td></td>
      </tr>
      <tr>
        <td>trex6 - redgremlin</td><td></td>
      </tr>
      <tr>
        <td>DoctorSinus - aptyp</td><td></td>
      </tr>
      <tr>
        <td>iVS - HunOL</td><td></td>
      </tr>
      <tr>
        <td>Adem - J</td><td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>14 тур (31.03 - 06.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - Adem</td><td></td>
      </tr>
      <tr>
        <td>J - iVS</td><td></td>
      </tr>
      <tr>
        <td>HunOL - DoctorSinus</td><td></td>
      </tr>
      <tr>
        <td>aptyp - trex6</td><td></td>
      </tr>
      <tr>
        <td>redgremlin - Magian</td><td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>15 тур (07.04 - 13.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - MyTrooName</td><td></td>
      </tr>
      <tr>
        <td>Magian - aptyp</td><td></td>
      </tr>
      <tr>
        <td>trex6 - HunOL</td><td></td>
      </tr>
      <tr>
        <td>DoctorSinus - J</td><td></td>
      </tr>
      <tr>
        <td>iVS - Adem</td><td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>16 тур (07.04 - 13.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - iVS</td><td></td>
      </tr>
      <tr>
        <td>Adem - DoctorSinus</td><td></td>
      </tr>
      <tr>
        <td>J - trex6</td><td></td>
      </tr>
      <tr>
        <td>HunOL - Magian</td><td></td>
      </tr>
      <tr>
        <td>aptyp - redgremlin</td><td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>17 тур (14.04 - 20.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>aptyp - MyTrooName</td><td></td>
      </tr>
      <tr>
        <td>redgremlin - HunOL</td><td></td>
      </tr>
      <tr>
        <td>Magian - J</td><td></td>
      </tr>
      <tr>
        <td>trex6 - Adem</td><td></td>
      </tr>
      <tr>
        <td>DoctorSinus - iVS</td><td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-striped table-condensed">
    <caption>
      <strong>18 тур (14.04 - 20.04)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - DoctorSinus</td><td></td>
      </tr>
      <tr>
        <td>iVS - trex6</td><td></td>
      </tr>
      <tr>
        <td>Adem - Magian</td><td></td>
      </tr>
      <tr>
        <td>J - redgremlin</td><td></td>
      </tr>
      <tr>
        <td>HunOL - aptyp</td><td></td>
      </tr>
    </tbody>
  </table>
</div>

