<table class="table tournament tablesorter">
  <caption><strong>Таблица результатов</strong><caption>
  <thead>
    <tr>
      <th class="number">№</th>
      <th class="player">Участник</th>
      <th class="elo">elo*</th>
      <th class="score" colspan="2">1</th>
      <th class="score" colspan="2">2</th>
      <th class="score" colspan="2">3</th>
      <th class="score" colspan="2">4</th>
      <th class="score" colspan="2">5</th>
      <th class="score" colspan="2">6</th>
      <th class="score" colspan="2">7</th>
      <th class="score" colspan="2">8</th>
      <th class="score" colspan="2">9</th>
      <th class="score" colspan="2">10</th>
      <th class="games">Игры</th>
      <th class="total">Очки</th>
      <th class="place">Место</th>
      <th class="berger">Бергер</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="27">* Средний elo на начало турнира</td>
    </tr>
  </tfoot>
  <tbody>
    <tr class="place-7">
      <td class="number">1</td>
      <td class="player"><strong>J</strong></td>
      <td class="elo">1479</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="games">11</td>
      <td class="total">5</td>
      <td class="place">7</td>
      <td class="berger">13.0</td>
    </tr>
    <tr class="place-9">
      <td class="number">2</td>
      <td class="player"><strong><del>shell-script</del></strong></td>
      <td class="elo">1190</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">½</td>
      <td class="score">½</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="games">18</td>
      <td class="total">1</td>
      <td class="place">9</td>
      <td class="berger">1.0</td>
    </tr>
    <tr class="place-5">
      <td class="number">3</td>
      <td class="player"><strong>DoctorSinus</strong></td>
      <td class="elo">1255</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="games">10</td>
      <td class="total">7</td>
      <td class="place">5</td>
      <td class="berger">21.0</td>
    </tr>
    <tr class="place-1">
      <td class="number">4</td>
      <td class="player"><strong>MyTrooName</strong></td>
      <td class="elo">1544</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">11</td>
      <td class="total">9</td>
      <td class="place">1</td>
      <td class="berger">38.0</td>
    </tr>
    <tr class="place-6">
      <td class="number">5</td>
      <td class="player"><strong>iVS</strong></td>
      <td class="elo">1740</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="games">11</td>
      <td class="total">7</td>
      <td class="place">6</td>
      <td class="berger">20.0</td>
    </tr>
    <tr class="place-10">
      <td class="number">6</td>
      <td class="player"><strong><del>n1l</del></strong></td>
      <td class="elo">1334</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">½</td>
      <td class="score">½</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="score">0</td>
      <td class="games">18</td>
      <td class="total">1</td>
      <td class="place">10</td>
      <td class="berger">1.0</td>
    </tr>
    <tr class="place-2">
      <td class="number">7</td>
      <td class="player"><strong>redgremlin</strong></td>
      <td class="elo">1685</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">9</td>
      <td class="total">8</td>
      <td class="place">2</td>
      <td class="berger">33.0</td>
    </tr>
    <tr class="place-3">
      <td class="number">8</td>
      <td class="player"><strong>HunOL</strong></td>
      <td class="elo">1723</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="games">10</td>
      <td class="total">8</td>
      <td class="place">3</td>
      <td class="berger">32.0</td>
    </tr>
    <tr class="place-8">
      <td class="number">9</td>
      <td class="player"><strong>MikeDM</strong></td>
      <td class="elo">1324</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="games">7</td>
      <td class="total">4</td>
      <td class="place">8</td>
      <td class="berger">4.0</td>
    </tr>
    <tr class="place-4">
      <td class="number">10</td>
      <td class="player"><strong>raven_cler</strong></td>
      <td class="elo">1279</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score"></td>
      <td class="score">1</td>
      <td class="score">1</td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score">0</td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="score"></td>
      <td class="diagonal"></td>
      <td class="diagonal"></td>
      <td class="games">11</td>
      <td class="total">8</td>
      <td class="place">4</td>
      <td class="berger">28.0</td>
    </tr>
  </tbody>
</table>
