<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>1 тур (10.05 - 18.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>J - raven_cler</td><td class="result"><a href="http://lichess.org/bxyhOJHm">0-1</a></td>
      </tr>
      <tr>
        <td>shell-script - Magian</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>DoctorSinus - HunOL</td><td class="result"><a href="http://lichess.org/TKE1oeqP">1-0</a></td>
      </tr>
      <tr>
        <td>MyTrooName - redgremlin</td><td class="result"><a href="http://lichess.org/wwCfjmIi">0-1</a></td>
      </tr>
      <tr>
        <td>iVS - n1l</td><td class="result">1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>2 тур (10.05 - 18.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - n1l</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>redgremlin - iVS</td><td class="result"><a href="http://lichess.org/E1Kst9qU">1-0</a></td>
      </tr>
      <tr>
        <td>HunOL - MyTrooName</td><td class="result"><a href="http://lichess.org/STLxl4K0">0-1</a></td>
      </tr>
      <tr>
        <td>Magian - DoctorSinus</td><td class="result"><a href="http://lichess.org/MrLO6Qql">1-0</a></td>
      </tr>
      <tr>
        <td>J - shell-script</td><td class="result">1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>3 тур (17.05 - 25.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>shell-script - raven_cler</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>DoctorSinus - J</td><td class="result"><a href="http://lichess.org/Udi66xLF">1-0</a></td>
      </tr>
      <tr>
        <td>MyTrooName - Magian</td><td class="result"><a href="http://lichess.org/N3AhSqWd">0-1</a></td>
      </tr>
      <tr>
        <td>iVS - HunOL</td><td class="result"><a href="http://lichess.org/nv1etGPr">0-1</a></td>
      </tr>
      <tr>
        <td>n1l - redgremlin</td><td class="result">0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>4 тур (17.05 - 25.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - redgremlin</td><td class="result"><a href="http://lichess.org/PtGDOd6Z">0-1</a></td>
      </tr>
      <tr>
        <td>HunOL - n1l</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>Magian - iVS</td><td class="result"><a href="http://lichess.org/c2NnP4cR">0-1</a></td>
      </tr>
      <tr>
        <td>J - MyTrooName</td><td class="result"><a href="http://lichess.org/xtK1WVsf">1-0</a></td>
      </tr>
      <tr>
        <td>shell-script - DoctorSinus</td><td class="result">0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>5 тур (24.05 - 01.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>DoctorSinus - raven_cler</td><td class="result"><a href="http://lichess.org/tgybJ7KP">0-1</a></td>
      </tr>
      <tr>
        <td>MyTrooName - shell-script</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>iVS - J</td><td class="result"><a href="http://lichess.org/1okH40Gh">1-0</a></td>
      </tr>
      <tr>
        <td>n1l - Magian</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>redgremlin - HunOL</td><td class="result"><a href="http://lichess.org/sKIiE5w6">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>6 тур (24.05 - 01.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - HunOL</td><td class="result"><a href="http://lichess.org/hMFIilOZ">0-1</a></td>
      </tr>
      <tr>
        <td>Magian - redgremlin</td><td class="result"><a href="http://lichess.org/FPzWrrAz">1-0</a></td>
      </tr>
      <tr>
        <td>J - n1l</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>shell-script - iVS</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>DoctorSinus - MyTrooName</td><td class="result"><a href="http://lichess.org/UGJcTqsT">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>7 тур (31.05 - 08.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>MyTrooName - raven_cler</td><td class="result"><a href="http://lichess.org/ptKr7Jh6">1-0</a></td>
      </tr>
      <tr>
        <td>iVS - DoctorSinus</td><td class="result"><a href="http://lichess.org/NltpzFBv">1-0</a></td>
      </tr>
      <tr>
        <td>n1l - shell-script</td><td class="result">1/2</td>
      </tr>
      <tr>
        <td>redgremlin - J</td><td class="result"><a href="http://lichess.org/IHIWYv2I">1-0</a></td>
      </tr>
      <tr>
        <td>HunOL - Magian</td><td class="result"><a href="http://lichess.org/a0WGBpy3">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>8 тур (31.05 - 08.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - Magian</td><td class="result"><a href="http://lichess.org/Gt3hT3yu">1-0</a></td>
      </tr>
      <tr>
        <td>J - HunOL</td><td class="result"><a href="http://lichess.org/PwL7m3wc">0-1</a></td>
      </tr>
      <tr>
        <td>shell-script - redgremlin</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>DoctorSinus - n1l</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>MyTrooName - iVS</td><td class="result"><a href="http://lichess.org/iKUj40qC">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>9 тур (07.06 - 15.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>iVS - raven_cler</td><td class="result"><a href="http://lichess.org/frLyJG3b">0-1</a></td>
      </tr>
      <tr>
        <td>n1l - MyTrooName</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>redgremlin - DoctorSinus</td><td class="result"><a href="http://lichess.org/8d2GaNAv">1-0</a></td>
      </tr>
      <tr>
        <td>HunOL - shell-script</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>Magian - J</td><td class="result"><a href="http://lichess.org/ymZzN9GP">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>10 тур (07.06 - 15.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - J</td><td class="result"><a href="http://lichess.org/cqaGX1tr">1-0</a></td>
      </tr>
      <tr>
        <td>Magian - shell-script</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>HunOL - DoctorSinus</td><td class="result"><a href="http://lichess.org/Y2vHthmw">0-1</a></td>
      </tr>
      <tr>
        <td>redgremlin - MyTrooName</td><td class="result"><a href="http://lichess.org/7LxWWNZp">1-0</a></td>
      </tr>
      <tr>
        <td>n1l - iVS</td><td class="result">0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>11 тур (14.06 - 22.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>n1l - raven_cler</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>iVS - redgremlin</td><td class="result"><a href="http://lichess.org/QozfZPn1">1/2</a></td>
      </tr>
      <tr>
        <td>MyTrooName - HunOL</td><td class="result"><a href="http://lichess.org/fBoHTBxW">0-1</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - Magian</td><td class="result"><a href="http://lichess.org/4TVe6FYD">0-1</a></td>
      </tr>
      <tr>
        <td>shell-script - J</td><td class="result">0-1</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>12 тур (14.06 - 22.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - shell-script</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>J - DoctorSinus</td><td class="result"><a href="http://lichess.org/uIzxss7F">1-0</a></td>
      </tr>
      <tr>
        <td>Magian - MyTrooName</td><td class="result"><a href="http://lichess.org/EQtXysoD">1-0</a></td>
      </tr>
      <tr>
        <td>HunOL - iVS</td><td class="result"><a href="http://lichess.org/8JaNp14T">1/2</a></td>
      </tr>
      <tr>
        <td>redgremlin - n1l</td><td class="result">1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>13 тур (14.06 - 22.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>redgremlin - raven_cler</td><td class="result"><a href="http://lichess.org/l2QpAeDm">0-1</a></td>
      </tr>
      <tr>
        <td>n1l - HunOL</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>iVS - Magian</td><td class="result"><a href="http://lichess.org/UbWDyc5V">0-1</a></td>
      </tr>
      <tr>
        <td>MyTrooName - J</td><td class="result"><a href="http://lichess.org/f88lQ9n6">1/2</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - shell-script</td><td class="result">1-0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>14 тур (14.06 - 22.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - DoctorSinus</td><td class="result"><a href="http://lichess.org/3HaIKvYO">1-0</a></td>
      </tr>
      <tr>
        <td>shell-script - MyTrooName</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>J - iVS</td><td class="result"><a href="http://lichess.org/bwNHG7lD">0-1</a></td>
      </tr>
      <tr>
        <td>Magian - n1l</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>HunOL - redgremlin</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>15 тур (14.06 - 22.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>HunOL - raven_cler</td><td class="result"><a href="http://lichess.org/GZKu1MUS">0-1</a></td>
      </tr>
      <tr>
        <td>redgremlin - Magian</td><td class="result"><a href="http://lichess.org/HDEwXbTw">0-1</a></td>
      </tr>
      <tr>
        <td>n1l - J</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>iVS - shell-script</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>MyTrooName - DoctorSinus</td><td class="result"><a href="http://lichess.org/LNFLjjST">1/2</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>16 тур (21.06 - 29.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - MyTrooName</td><td class="result"><a href="http://lichess.org/AXoMuvX0">1-0</a></td>
      </tr>
      <tr>
        <td>DoctorSinus - iVS</td><td class="result"><a href="http://lichess.org/mMz33vNH">0-1</a></td>
      </tr>
      <tr>
        <td>shell-script - n1l</td><td class="result">1/2</td>
      </tr>
      <tr>
        <td>J - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>Magian - HunOL</td><td class="result"><a href="http://lichess.org/pEYK8mUg">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>17 тур (21.06 - 29.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>Magian - raven_cler</td><td class="result"><a href="http://lichess.org/wXBQek0o">1-0</a></td>
      </tr>
      <tr>
        <td>HunOL - J</td><td class="result"><a href="http://lichess.org/yjahHLSi">1-0</a></td>
      </tr>
      <tr>
        <td>redgremlin - shell-script</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>n1l - DoctorSinus</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>iVS - MyTrooName</td><td class="result"><a href="http://lichess.org/LPfAkBVw">1-0</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>18 тур (21.06 - 29.06)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - iVS</td><td class="result"><a href="http://lichess.org/QEAJdfcr">1-0</a></td>
      </tr>
      <tr>
        <td>MyTrooName - n1l</td><td class="result">1-0</td>
      </tr>
      <tr>
        <td>DoctorSinus - redgremlin</td><td class="result"><a href="http://lichess.org/AMDdel87">0-1</a></td>
      </tr>
      <tr>
        <td>shell-script - HunOL</td><td class="result">0-1</td>
      </tr>
      <tr>
        <td>J - Magian</td><td class="result"><a href="http://lichess.org/Ezo0i5W5">0-1</a></td>
      </tr>
    </tbody>
  </table>
</div>

