<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>1 тур (10.05 - 18.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>J - raven_cler</td><td class="result"></td>
      </tr>
      <tr>
        <td>shell-script - MikeDM</td><td class="result"></td>
      </tr>
      <tr>
        <td>DoctorSinus - HunOL</td><td class="result"><a href="http://lichess.org/TKE1oeqP">1-0</a></td>
      </tr>
      <tr>
        <td>MyTrooName - redgremlin</td><td class="result"></td>
      </tr>
      <tr>
        <td>iVS - n1l</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tour-info">
  <table class="table table-condensed">
    <caption>
      <strong>2 тур (10.05 - 18.05)</strong>
    </caption>
    <tbody>
      <tr>
        <td>raven_cler - n1l</td><td class="result"></td>
      </tr>
      <tr>
        <td>redgremlin - iVS</td><td class="result"></td>
      </tr>
      <tr>
        <td>HunOL - MyTrooName</td><td class="result"><a href="http://lichess.org/STLxl4K0">0-1</a></td>
      </tr>
      <tr>
        <td>MikeDM - DoctorSinus</td><td class="result"><a href="http://lichess.org/pIRG3ysF">0-1</a></td>
      </tr>
      <tr>
        <td>J - shell-script</td><td class="result"></td>
      </tr>
    </tbody>
  </table>
</div>

