---
layout: default
---

<link rel="stylesheet" href="/assets/css/pgn4web.css">

<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <h1>{{ page.title }}</h1>
  {{ content }}
</div>

<div id="GameWrapper" class="col-xs-12 col-sm-10 col-sm-offset-1">
  <strong><span id="GameWhite"></span>&nbsp;vs.&nbsp;<span id="GameBlack"></span>&nbsp;&#8226;&nbsp;<span id="GameResult"></span></strong>

  <p></p>

  <div id="GameBoardWrapper">
    <div id="GameSelector"></div>
    <p></p>
    <div id="GameBoard"></div>
    <p></p>
    <div id="GameButtons"></div>

    <div id="GameText"></div>
  </div>
</div>

<!-- pgn4web JavaScript -->
<script src="/assets/js/pgn4web.js"></script>

<script type="text/javascript">
 "use strict";

 SetPgnUrl("{{ page.pgn }}");
 SetImagePath("/assets/img/chesspieces/wikipedia");
 SetImageType("png");
 SetGameSelectorOptions("Выбрать партию ...", false, 0, 0, 0, 15, 15, 0, 10); // (head, num, chEvent, chSite, chRound, chWhite, chBlack, chResult, chDate);
 SetCommentsOnSeparateLines(true);
 SetShortcutKeysEnabled(true);
</script>
