/* Tour info */
.tour-info {
  display: inline-block;
  table {
    width: 221px;
    margin-left: 10px;
    margin-right: 10px;
    tbody > tr > td.result {
      width: 33px;
      text-align: center;
    }
  }
}
